<div class="main">
  <div class="username">
    <h1>
      username:
      <span style="color: bisque">{{ name.toUpperCase() }}</span>
    </h1>
    <h1>
      email:
      <span style="color: bisque"> {{ email.toUpperCase() }}</span>
    </h1>
  </div>
  <div class="left">
    <div
      class="users"
      #username
      (click)="connect(username.innerText)"
      *ngFor="let i of user"
    >
      <h2>
        {{ i["name"] }}
        <span style="color: whitesmoke; display: block; font-size: 1px">
          {{ i["userid"] }}</span
        >
      </h2>
    </div>
  </div>
  <div class="right" id="mydiv">
    <div *ngFor="let i of messeges">
      <div class="sendermsg" *ngIf="i['sender'] == userid; else other">
        {{ i["messege"] }}
      </div>
      <ng-template #other
        ><div class="receivermsg">{{ i["messege"] }}</div></ng-template
      >
    </div>
  </div>
  <div class="submit-msg">
    <div class="text-field">
      <form
        #formdata="ngForm"
        (ngSubmit)="sendmsg(formdata.value)"
        (keyup.enter)="sendmsg(formdata.value)"
        id="text"
      >
        <textarea
          placeholder="enter message"
          ngModel
          name="msg"
          id="area"
          form="text"
        ></textarea>
        <button class="sendmsg">send</button>
      </form>
    </div>
  </div>
</div>
