.main {
  display: grid;
  grid-template-columns: 35% 65%;
  height: 100vh;
}
.username {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  color: #f5f5f5;
}
.left {
  grid-row-start: 2;
  grid-row-end: 5;
  overflow-y: scroll;
}
.right {
  grid-row-start: 2;
  grid-row-end: 5;
  overflow-y: scroll;
}
.users {
  background-color: whitesmoke;
  padding: 10%;
  margin: 2px;
  text-align: center;
  border-radius: 10px;
}
.submit-msg {
  grid-column-start: 1;
  grid-column-end: 3;
}
.sendermsg {
  background-color: aliceblue;
  padding: 1%;
  margin: 5px;
  border-radius: 20px;
}
.receivermsg {
  background-color: rgb(84, 84, 84);
  color: white;
  padding: 1%;
  margin: 5px;
  border-radius: 20px;
}

.text-field {
  padding: 1rem 48rem 1rem 1rem;
  text-align: center;
}
.sendmsg {
  width: 94rem;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Radio Canada", sans-serif;
}
.sendmsg:hover {
  background-color: #45a049;
}
textarea {
  width: 94rem;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgb(67, 65, 65);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Radio Canada", sans-serif;
}

.logout {
  background-color: rgb(236, 59, 50);
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.online {
  background-color: #45a049;
}
.offline {
  background-color: rgb(240, 59, 59);
}

.selecteduser {
  background-color: grey;
  color: white;
}
