<!-- <p>create-new works!</p> -->
<div
  class="md:hidden text-5xl md:text-center bg-gray-900 pl-6 rounded-b-xl md:rounded-none h-60 md:h-0 pt-32 md:pt-0 font-medium text-slate-400"
>
  <h1>Create New</h1>
  <h1>Account</h1>
</div>

<div
  *ngIf="invalidMsg != ''"
  class="text-center absolute z-10 text-white inline-block ml-[50%] mt-[50%] -translate-x-1/2 -translate-y-1/2 bg-red-600 p-2 rounded-lg"
>
  {{ invalidMsg }}
  <div (click)="close()" class="inline cursor-pointer">
    <fa-icon size="2xl" [icon]="cancleIcon"></fa-icon>
  </div>
</div>
<div
  class="md:absolute top-1/2 left-1/2 md:-translate-y-1/2 md:-translate-x-1/2 md:w-1/2"
>
  <div class="text-center md:border-2 md:rounded-lg md:p-6">
    <form #formdata="ngForm" (ngSubmit)="creat(formdata.value)">
      <div class="m-6">
        <div class="relative mt-6">
          <label
            class="absolute text-sm text-slate-400 bg-white px-2 -top-2 left-2"
            for="first name"
            >First Name</label
          >
          <!-- <input
          type="text"
          placeholder="first name"
          id="first name"
          /> -->
          <input
            class="border-2 p-3 rounded-lg w-full"
            type="text"
            #firstName="ngModel"
            ngModel
            name="firstname"
            placeholder="first name"
          />
        </div>
        <div class="relative mt-6">
          <label
            class="absolute text-sm text-slate-400 bg-white px-2 -top-2 left-2"
            for="last name"
            >Last Name</label
          >
          <input
            class="border-2 p-3 rounded-lg w-full"
            type="text"
            ngModel
            name="lastname"
            placeholder="last name"
          />

          <!-- <input
            type="text"
            placeholder="last name"
            id="last name"
          /> -->
        </div>
        <div class="relative mt-6">
          <label
            class="absolute text-sm text-slate-400 bg-white px-2 -top-2 left-2"
            for="email"
            >Email</label
          >
          <input
            class="border-2 p-3 rounded-lg w-full"
            type="email"
            ngModel
            name="email"
            placeholder="email"
          />

          <!-- <input type="email" placeholder="email" id="email" /> -->
        </div>
        <div class="relative mt-6">
          <label
            class="absolute text-sm text-slate-400 bg-white px-2 -top-2 left-2"
            for="password"
            >Password</label
          >
          <input
            class="border-2 p-3 rounded-lg w-full"
            type="password"
            ngModel
            name="password"
            placeholder="Password"
          />

          <!-- <input
            type="password"
            name="password"
            id="password"
            placeholder="password"
          /> -->
        </div>
        <div class="relative mt-6">
          <label
            class="absolute text-sm text-slate-400 bg-white px-2 -top-2 left-2"
            for="confirm password"
            >Confirm Password</label
          >
          <input
            class="border-2 p-3 rounded-lg w-full"
            type="password"
            ngModel
            name="comfirmpassword"
            placeholder="confirm password"
          />
          <!-- <input
            type="password"
            name="password"
            id="confirm password"
            placeholder="confirm password"
          /> -->
        </div>
        <button
          type="submit"
          class="mt-6 text-center bg-lime-500 p-3 font-medium rounded-lg w-full"
        >
          Create Account
        </button>
      </div>
    </form>
    <div class="pb-4">
      Already have an account?
      <a class="text-lime-500" routerLink="../login">Log in</a>
    </div>
  </div>
</div>
