<div class="wrapper">
  <h1>Create Account</h1>
  <form #formdata="ngForm" (ngSubmit)="creat(formdata.value)">
    <input type="text" ngModel name="firstname" placeholder="Enter firstname" />
    <input type="text" ngModel name="lastname" placeholder="Enter lastname" />
    <input type="email" ngModel name="email" placeholder="Enter email" />
    <input type="password" ngModel name="password" placeholder="Password" />
    <input
      type="password"
      ngModel
      name="comfirmpassword"
      placeholder="Confirm Password"
    />
    <button type="submit">Sign in</button>
  </form>
</div>
