/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  outline: 1px solid slategrey;
  border-radius: 10rem;
}
